*,
*::before,
*::after {
  box-sizing: border-box;
}

/* #26547C */
/* #EF476F */
body {
  margin: 0;
  text-align: center;
  background-color: #26547c;
  color: white;
}
div {
  display: inline-block;
  border: 2px solid black;
  width: 50px;
  height: 50px;
  background-color: white;
  color: black;
}
button {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border: none;
  font-weight: bold;
  font-size: 1em;
  border: 2px solid transparent;
  background-color: #ef476f;
  color: white;
  padding: 1em;
}
p {
  text-align: center;
  margin: auto 0;
}
.mezzoSchermo {
  width: 40%;
  display: inline-block;
}

.showNumber {
  background-color: #ef476f;
}
button:hover {
  border: 2px solid #ef476f;
  background-color: white;
  color: #ef476f;
}
